:root {
  --primary-color: #F97639;
  --secondary-color: #525252;
  --background-color: #EEECE7;
  font-family: 'Ubuntu', sans-serif;
  font-size: 4vh;
}

.layout-container {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
}

header {
  height: 10%;
  display: flex;
  align-items: center;
  /* box-shadow: 10px 5px 8px #888888; */
}

footer {
  height: 10%;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-evenly;
  font-size: .75rem;
}

main {
  height: 80%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--secondary-color)
}

h1 {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 3rem;
  color: var(--primary-color)
}

h2 {
  margin: 0;
  margin-bottom: 2rem;
}

h3 {
  margin: 0;
  margin-bottom: 1rem;
}

p {
  margin: 0;
  margin-bottom: 1rem;
}

.small-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .25rem .25rem;
}

@media (max-width: 1050px) {
  :root {
    font-size: 3vh;
  }

  main {
    width: 90%;
  }
}

@media (max-width: 800px) {
  :root {
    font-size: 3vh;
  }

  main {
    width: 90%;
  }
}

@media (max-width: 450px) {
  :root {
    font-size: 2.5vh;
  }

  main {
    width: 90%;
  }
}
